@{
    ViewBag.Title = "Home Page";
   // Layout = "MyLayout.cshtml";
} 



<div class="jumbotron">
    <h1>FaceMatch</h1>
    <p class="lead">FaceMatch lets you upload a face and see if it matches any of the already uploaded faces</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Powered by ASP.net</a></p>
</div>

@section scripts{
    <script> var testing = true;</script>
    }

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Register to add faces to the system!
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new {@class="btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>...Or If you already have an account, Log in.</p>
       <p>@Html.ActionLink("Log in", "Register", "Account", null, new {@class="btn btn-default"})</p>
    </div>
  </div>

You are using @Request.Browser.Browser, and that's okay!

@{ var amounts = new List<Decimal> { 100, 25.50m, -40, 275.99m };

}

<ul>
@foreach (decimal number in amounts)
{
    <li>@formatAmount(number)</li>
    
}

</ul>

    @helper formatAmount(decimal number)
{
        var color = "green";
        if (number<0)
    {
        color = "red";

    }

<span style="color:@color">@String.Format("{0:c}",number)</span>

}
